	<h1>Inscription</h1>
	<p>Veuillez renseigner le formulaire pour vous inscrire.</p>
	<?= $message ?>
	<form method="post" action="">
		<label for="pseudo">Pseudo</label><br>
		<input type="text" name="pseudo" id="pseudo" value=""><br><br>

		<label for="mdp">Mot de passe</label><br>
		<input type="text" name="mdp" id="mdp" value=""><br><br>

		<label for="nom">Nom</label><br>
		<input type="text" name="nom" id="nom" value=""><br><br>

		<label for="prenom">Prénom</label><br>
		<input type="text" name="prenom" id="prenom" value=""><br><br>

		<label for="email">Email</label><br>
		<input type="text" name="email" id="email" value=""><br><br>

		<label>Civilité</label>
		<input type="radio" name="civilite" value="m" checked> Homme
		<input type="radio" name="civilite" value="f"> Femme<br><br>

		<label for="ville">Ville</label><br>
		<input type="text" name="ville" id="ville" value=""><br><br>

		<label for="code_postal">Code postal</label><br>
		<input type="text" name="code_postal" id="code_postal" value=""><br><br>

		<label for="adresse">Adresse</label><br>
		<textarea name="adresse" id="adresse"></textarea><br><br>

		<input type="submit" value="s'inscrire" class="btn">
	</form>	