<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
   
	<title>Ma Boutique - <?= $titre ?></title>

    <!-- Bootstrap Core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<?php if(isset($js)) : ?>
	<script src="js/<?= $js ?>"></script>
	<?php endif; ?>
	
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <!-- La marque -->
       <a class="navbar-brand" href="">MA BOUTIQUE</a>
       
        <!-- Le burger -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        
        <!-- Le menu -->
        <div class="collapse navbar-collapse" id="nav1">
			<ul class="navbar-nav ml-auto">
				<li><a class="nav-link" href="">Boutique</a></li>
				<li><a class="nav-link" href="membre/profil">Profil</a></li>
				<li><a class="nav-link" href="commande/panier">Panier</a></li>
				<li><a class="nav-link" href="">Connexion</a></li>
				<li><a class="nav-link" href="">Inscription</a></li>
        	</ul>
        </div>
		<div class="collapse navbar-collapse" id="nav1">
			<form method="post" action="">
				<input type="search" name="search" placeholder="Votre recherche..." />
				<input type="submit" value="OK" />
			</form>
		</div>
      </div>
    </nav>

   
    <!-- Page Content -->
    <div class="container" style="min-height: 80vh;">
        <!-- ici nous aurons le contenu spécifique de notre page -->


		<?= $content ?>
		
		
		
		
	</div><!-- fin .container -->


    <!-- footer -->
    <div class="container">
        <hr>
        <footer>
           <div class="row">
               <div class="col-lg-12">
                    <p>Copyright &copy; Ma Boutique - 2018</p>                   
               </div> 
           </div>
        </footer>
    </div>
    <!-- fin footer -->

</body>
</html>	
		
		
		
